# rsyslog configuration file
# For more information see:
{% if ansible_os_family == "Debian" %}
#   /usr/share/doc/rsyslog-doc/html/rsyslog_conf.html
#   /usr/share/doc/rsyslog-doc/html/configuration/index.html
{% else %}
#   /usr/share/doc/rsyslog/html/rsyslog_conf.html
#   man rsyslog.conf
{% endif %}

#################
#### MODULES ####
#################

module(load="imuxsock") # provides support for local system logging
{% if ansible_os_family == "Debian" %}
module(load="imklog" permitnonkernelfacility="on")   # provides kernel logging support
{% else %}
module(load="imklog")   # provides kernel logging support
{% endif %}

{% if ansible_os_family == "RedHat" %}
# provides UDP syslog reception
#module(load="imudp")
#input(type="imudp" port="514")

# provides TCP syslog reception
#module(load="imtcp")
#input(type="imtcp" port="514")
{% endif %}

#########################
#### GLOBAL DIRECTIVES ####
#########################

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
$ActionFileEnableSync off

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf

{% if ansible_os_family == "Debian" %}
# Set the default permissions for all log files
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
{% else %}
# Set the default permissions for all log files
$FileOwner root
$FileGroup root
$FileCreateMode 0600
$DirCreateMode 0700
$Umask 0077
{% endif %}

# Where to place spool and state files
$WorkDirectory /var/spool/rsyslog

###############
#### RULES ####
###############

{% if ansible_os_family == "Debian" %}
# First some standard log files.  Log by facility.
auth,authpriv.*                 /var/log/auth.log
*.*;auth,authpriv.none          -/var/log/syslog
cron.*                          /var/log/cron.log
daemon.*                        -/var/log/daemon.log
kern.*                          -/var/log/kern.log
lpr.*                           -/var/log/lpr.log
mail.*                          -/var/log/mail.log
user.*                          -/var/log/user.log

# Logging for the mail system.  Split it up so that
# it is easy to write scripts to parse these files.
mail.info                       -/var/log/mail.info
mail.warn                       -/var/log/mail.warn
mail.err                        /var/log/mail.err

# Some "catch-all" log files.
*.=debug;\
        auth,authpriv.none;\
        mail.none               -/var/log/debug
*.=info;*.=notice;*.=warn;\
        auth,authpriv.none;\
        cron,daemon.none;\
        mail.none               -/var/log/messages

{% else %}
# Log all kernel messages to the console.
# Logging much else clutters up the screen.
#kern.*                                                 /dev/console

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.info;mail.none;authpriv.none;cron.none                /var/log/messages

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure

# Log all the mail messages in one place.
mail.*                                                  -/var/log/maillog

# Log cron stuff
cron.*                                                  /var/log/cron

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log
{% endif %}

# Everybody gets emergency messages
*.emerg                                                 :omusrmsg:*

# Application logs (common for all distributions)
local6.*                                                /var/log/apps/application.log

# Custom application logs can be added here
# Example: local5.*                                     /var/log/apps/custom-app.log

#########################
#### REMOTE LOGGING ####
#########################

# Server specific configuration
# Uncomment the following to enable remote logging
{% if rsyslog_server is defined %}
*.* @@{{ rsyslog_server }}:514  # TCP
#*.* @{{ rsyslog_server }}:514  # UDP
{% else %}
#*.* @@remote-syslog-server:514  # TCP
#*.* @remote-syslog-server:514   # UDP
{% endif %}

# Stop processing after forwarding to remote server
{% if rsyslog_server is defined %}
& stop
{% else %}
#& stop
{% endif %}

#####################
#### LOCAL RULES ####
#####################

# Local rules can be added to /etc/rsyslog.d/
# with filenames like 50-default.conf
